body, html {
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  font-family: Roboto;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.box {
  width: 25%; /* Ändere die Breite auf 25% für vier Bilder */
  float: left;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#slider {
  width: 400%; /* Ändere die Breite des Sliders auf 400% */
  height: 100%;
  position: relative;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Verwende eine cubic-bezier Kurve für eine sanftere Transition */
  cursor: grab;
  display: flex;
}
.outer{
  filter: brightness(0%);
}
.gamename{
  font-size: 45px;
  font-weight: bold;
  margin-top: 82.75%;
  margin-left: 5.75%;
  letter-spacing: 4px;
  line-height: 130%;
}
.blocknumber{

  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-left: 6%;
  margin-top: 10%;
}
.date{
  font-size: 40px;
  letter-spacing: 2px;
  margin-left: 5.75%;
  margin-top: 17.25%;
}
#balkenvideo{
  position: fixed;
  top: 0;
  left: 0;
  width: 96.5%;
  height: 10%;
  z-index: -1; /* Damit das Video hinter den anderen Inhalten liegt */
  overflow: hidden; /* Verhindern von Scrollen */
}
video {
  min-width: 96.5%; /* Mindestbreite entspricht der Bildschirmbreite */
  min-height: 10%; /* Mindesthöhe entspricht der Bildschirmhöhe */
  width: auto;
  height: auto;
  position: absolute;
  top: 28.5%;
  left: 49.5%;
  transform: translate(-50%, -50%); /* Zentrieren des Videos */
}
.rang{
  font-size: 140px;
  font-stretch: 150%;
  font-weight: 300;
  letter-spacing: 4px;
  margin-left: 13.5%;
  margin-top: 26.5%;
  display:inline-block;
  -webkit-transform:scale(1.12,1); /* Safari and Chrome */
  -moz-transform:scale(1.12,1); /* Firefox */
  -ms-transform:scale(1.12,1); /* IE 9 */
  -o-transform:scale(1.12,1); /* Opera */
  transform:scale(1.12,1); /* W3C */
}
